<!DOCTYPE html>
<html>
  <head>
    <title>CIS 450/550 Homework3</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">CIS450/550</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/sample">Sample Work</a></li>
	        <li><a href="/yourwork">Your Work</a></li> 
	        <li><a href="/references">References</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="heading">
    	<h1>CIS450/550 Homework3</h1>
    	<p>Welcome to the world of NodeJS!</p>
    	<p>This homework is gonna get you started with the basic concepts of NodeJS. We have used ExpressJS to set up the framework.
    	Also, you will be using the MongoDB module for this homework.</p> 
    </div>
  </body>
</html>
