<!DOCTYPE html>
<html>
  <head>
    <title>CIS 450/550 Homework3</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">CIS450/550</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="/sample">Sample Work</a></li>
	        <li><a href="yourwork">Your Work</a></li> 
	        <li class="active"><a href="/references">References</a></li> 
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="heading">
    	<a href="http://www.tutorialspoint.com/nodejs/"><p>A good tutorial for NodeJS</p></a>
    	<a href="http://docs.mongodb.org/getting-started/node/client/"><p>MongoDB for NodeJS</p></a>
    	<a href="https://scotch.io/tutorials/use-ejs-to-template-your-node-application#passing-data-to-views"><p>EJS Templating and passing data to views</p></a>
    </div>
  </body>
</html>
